fastapi~=0.115.12
uvicorn[standard]
faiss-cpu~=1.11.0
sentence-transformers~=4.1.0
transformers~=4.51.3
langchain~=0.3.25
langchain-huggingface
openai~=1.78.0
pydantic~=2.11.4
python-dotenv~=1.1.0
pinecone~=6.0.2
datasets~=3.6.0
nltk~=3.9.1
rouge-score~=0.1.2
langchain-community~=0.3.23
transformers~=4.51.3
accelerate>=0.26.0
torch>=1.13.0
redis~=6.1.0
confluent-kafka~=2.10.0
hf_xet